/* =========================================================================================
    File Name:chartSetting.scss
    Description: chartSetting style css Component
    Component Name: chartSetting
    ----------------------------------------------------------------------------------------
    Item Name: Vo2CyclingAcademy - Technology Dep.
      Author: pooriavakili
========================================================================================== -->
*/
.chart-settings {
    display: flex;
    flex-flow: column;
    font-size: 95%;
}