/* =========================================================================================
    File Name: forgotPassword.scss
    Description: forgotPassword style css Component
    Component Name: forgotPassword
    ----------------------------------------------------------------------------------------
    Item Name: Vo2CyclingAcademy - Technology Dep.
      Author: pooriavakili
========================================================================================== -->
*/
.form-login {
    position: relative;
    left: 40px
}

.btn-forgotPassword-grid {
    margin-right: 220px;
    margin-top: 120px;
}

@media (max-width:1300px) {
    .form-responsive {
        display: none
    }

    .form-login {
        position: relative;
        left: 230px !important;
    }
}

.card-login-responsive {
    border-radius: 30px;
    width: 648px;
    height: 650px;
    direction: rtl
}

@media (max-width:600px) {
    .btn-forgotPassword-grid {
        margin-right: 160px !important;
    }
}

@media (max-width:1300px) {
    .card-login-responsive {
        width: 648px;
        height: 600px;
    }

    .btn-forgotPassword-grid {
        margin-top: -2px
    }
}

@media (max-width:1500px) {
    .card-login-responsive {
        width: 648px;
        height: 600px;
    }

    .btn-forgotPassword-grid {
        margin-top: 80px
    }
}

@media (max-width:1000px) {
    .card-login-responsive {
        position: relative;
        right: 200px
    }
}

@media (max-width:800px) {
    .card-login-responsive {
        position: relative;
        right: 270px;
        width: 550px;
    }

    .form-login {
        position: relative !important;
        left: 370px !important;
    }
}

@media (max-width:600px) {
    .card-login-responsive {
        position: relative;
        right: 260px;
        width: 470px;
    }

    .btn-grid {
        margin-right: 160px;
    }

    .input-responsive {
        width: 420px !important;



    }

    .input-user {
        width: 370px !important;



    }

    .form-login {
        position: relative !important;
        left: 280px !important;
    }

    .forgotPassword-btn {
        width: 370px !important;
    }
}

.input-responsive {
    width: 498px;

}

.input-user {
    width: 456px
}

.forgotPassword-btn {
    background-color: #D0D0D0;
    margin-top: 110px;
    border-radius: 20px;
    width: 450px
}