/* =========================================================================================
    File Name: index.scss
    Description: index style css Component
    Component Name: index
    ----------------------------------------------------------------------------------------
    Item Name: Vo2CyclingAcademy - Technology Dep.
      Author: pooriavakili
========================================================================================== -->
*/
.q-card {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10) !important;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.q-card__section[dir='rtl'] {
    .float-right {
        float: left !important;
    }
}

.grid {
    margin-top: -145px;

}

@media (max-width: 1000px) {

    .grid {
        margin-top: 0px
    }
}