/* =========================================================================================
    File Name: settings.scss
    Description: settings style css Component
    Component Name: settings
    ----------------------------------------------------------------------------------------
    Item Name: Vo2CyclingAcademy - Technology Dep.
      Author: pooriavakili
========================================================================================== -->
*/
h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    line-height: 1em;
}

h4 {
    font-size: 0.9em;
    margin: 0;
}

#settings-scrollbar * h2 {
    margin-top: 25px;
}

.q-select {
    flex: 1;
    max-width: 300px;
}

.settings-nav {
    width: 250px;
    border-radius: 5px 0 0 0;
    padding: 20px 25px 25px 20px;
}

.section {
    min-height: 300px;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: 0 16px;
}

.zone-details {
    display: flex;

    div {
        margin: auto 0 auto 8px;
    }

    .q-input {
        max-width: 100px;
    }
}

.zone-data {
    .q-input {
        margin: 0 0 4px 8px;
    }
}